<div class="footer">
	<div class="nav">
		<a href="#">Home</a> |
		<a href="#">Terms and Conditions</a> |
		<a href="#">Privacy Policy</a> |
		<a href="#">Collection Statement</a> |
		<a href="#">Help</a> |
		<a href="#">Manage Account</a> 
	</div>
	<div class="copy">
		Copyright &copy; 2016 DEMO Streaming. All Rights Reserved.
	</div>
	<div class="bottom">
		<div class="social">
			<a href="#">
				<img class="facebook" title="Facebook" src="../../assets/social/facebook-white.svg" alt="facebook"/>
			</a>
			<a href="#">
				<img class="twitter" title="Twitter" src="../../assets/social/twitter-white.svg" alt="twitter"/>
			</a>
			<a href="#">
				<img class="instagram" title="Instagram" src="../../assets/social/instagram-white.svg" alt="instagram"/>
			</a>
		</div>
		<div class="apps">
			<a href="#">
				<img title="Apple App Store" src="../../assets/store/app-store.svg" alt="app-store"/>
			</a>
			<a href="#">
				<img title="Google Play Store" src="../../assets/store/play-store.svg" alt="app-store"/>
			</a>
			<a href="#">
				<img class="windows" title="Microsoft App Store" src="../../assets/store/windows-store.svg" alt="app-store"/>
			</a>
		</div>
	</div>
</div>
