<div class="content">
	<div class="header">
		{{pageTitle}}
	</div>
	<div class="main">
		<div>
			<div class="category-tile">
				<a routerLink="/series" routerLinkActive="active">
					<div class="body">
						<span class="title">SERIES</span>
					</div>
					<div class="sub-title">Popular Series</div>			
				</a>	
			</div>
			<div class="category-tile">
				<a routerLink="/movies" routerLinkActive="active">
					<div class="body">
						<span class="title">MOVIES</span>
					</div>
					<div class="sub-title">Popular Movies</div>			
				</a>	
			</div>
		</div>		
	</div>
</div>
