.content {
	display: flex;
	flex-direction: column;
}

.header {
	color: #ffffff;
	padding: 20px 10%;
	background-color: #414141;
	transition: background-color 1s linear;
	flex: 1 1;
	box-shadow: 0px 3px 5px 0px rgba(120,120,120,1);
}

.main {
	display: flex;
	flex-wrap: wrap;
	padding: 20px 5% 20% 10%
}